Pillow>=9.5
beautifulsoup4>=4.11
future>=0.18
pandastable>=0.13
pandas>=2.0
pywebview>=4.0.2
requests>=2.28.2
screeninfo>=0.8
setuptools>=67.4.0
termcolor>=2.3
ttkbootstrap>=1.10
packaging>=23
requirements-parser>=0.2.0
Jinja2>=3.0.2
