# dynamic version of requirements
# work well for pip install BUT it's not parsed by pycharm
# so "Unsatisfied package requirements inspection" will raises weak warnings
# --index-url https://pypi.python.org/uevaultmanager/
# -e .

# manual version of requirements for pycharm
Pillow>=10.0.2
beautifulsoup4~=4.11
future>=1.0.0
pandastable
pandas>=2.0
pywebview>=5.0.5
requests>=2.0
screeninfo>=0.8
setuptools>=69.2.0
termcolor>=2.3
ttkbootstrap>=1.10
packaging>=24.0
Faker>=24.4.0
rapidfuzz ~=2.15  # do not install 3.x version. because build exe will fail
tkhtmlview>=0.2.0
pywebview>=5.0.5
