Pillow~=9.5.0
beautifulsoup4~=4.11.2
future~=0.18.3
pandastable~=0.13.1
pandas~=2.0.0
pywebview==4.0.2
requests==2.28.2
screeninfo~=0.8.1
setuptools==67.4.0
termcolor~=2.3.0
ttkbootstrap~=1.10.1
UEVaultManager~=1.1.1.7
packaging~=23.0
